<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>
        <add key="EventStore.URI" value="tcp://eventstore2:1113" />
<!--
        <add key="EventStore.URI" value="tcp://172.31.0.11:1113" />
        <add key="EventStore.URI" value="discover://eventstore:2112" />
        <add key="EventStore.GossipSeedEndpoints" value="172.31.0.11:2112,172.31.0.12:2112,172.31.0.13:2112" />
-->
        <add key="EventStore.RPC.Host" value="0.0.0.0" />
        <add key="EventStore.RPC.Port" value="3113" />
    </appSettings>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>